body {
    background: #304C89;
    font: 14px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.475);
}

footer {
    color: white;
    text-align: center;
    font-size: 12px;
    font-style: italic;

}